---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Hi, I’m HUYIFAN.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title">Hi, I’m HUYIFAN.</h1>
</PageLayout>
